repos:
  - repo: https://github.com/Yelp/detect-secrets.git
    rev: v1.5.0
    hooks:
    - id: detect-secrets
      args: ['--baseline', '.secrets.baseline']
      exclude: (package-lock.json|poetry.lock)$
